* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alexandria";
}

:root {
    --clr-primary: #fd5f7e;
    --clr-secondary: #121216;
    --clr-neutral-grey: #929294;
    --clr-neutral-light: #ffffff;
    --clr-error: #e83232;
}

@font-face {
    font-family: "Alexandria";
    src: url('@assets/fonts/alexandria-variable-font.woff2') format('woff2');
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-secondary);
    display: grid;
    place-items: center;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

svg {
    pointer-events: none;
}

@media (orientation: portrait) {
    body {
        overflow: hidden;
    }
}