@use '../../config' as *;


.shortened-url {
    @include flex-center;
    gap: 1rem;
    margin: 0 1rem;

    p {
        border-radius: 0.75rem;
        padding: 1rem 2rem;
        border: 2px dashed var(--clr-neutral-grey);
        text-align: center;
        color: var(--clr-neutral-light);
        font-size: 1.2rem;
    }
}

.copy-btn,
.qr-code-btn {
    background-color: var(--clr-neutral-light);
    border: none;
    border-radius: 50%;
    padding: 0.75rem;

    svg {

        height: 1.5rem;
        width: 1.5rem;
    }

}