@use "../../app/config" as *;

.container {
    @include flex-center;
    padding: 0 1rem;
    height: 100%;
    gap: 1rem;
}

.short-url {
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    width: 100%;
    border: 2px dashed var(--clr-neutral-grey);
    text-align: center;
    color: var(--clr-neutral-light);
    word-break: break-all;
    font-size: 1.2rem;
}

.btns {
    @include flex-center;
    gap: 1.5rem;
}

.copy-btn,
.qr-code-btn {
    @include flex-center;
    gap: 0.5rem;
    background-color: var(--clr-neutral-light);
    border: none;
    border-radius: 50%;
    padding: 0.75rem;

    svg {

        height: 1.5rem;
        width: 1.5rem;
    }

}