@use "../../app/config" as *;

.home {
    background-color: var(--clr-secondary);
    height: var(--vh);
    width: var(--vw);
    display: grid;
    place-content: center;
    gap: 2rem;
    padding: 0.5rem;
    overflow: hidden;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--clr-neutral-light);
    gap: 0.5rem;

    .title {
        @include flex-center;
        gap: 1em;

        --size: calc(4rem + 2vw);

        img {
            height: var(--size);
            width: var(--size);
        }

        p {
            font-size: var(--size);
            font-variation-settings: 'wght' 800;
        }
    }

    .description {
        text-align: center;
        color: var(--clr-neutral-grey);
        padding: 0 1rem;
    }

}

.long-url {
    @include flex-center;
    gap: 1rem 0.5rem;
    margin: 0 1rem;

    .input-container {
        @include flex-center;
        flex-wrap: nowrap;
        border: 2px solid var(--clr-primary);
        border-radius: 0.5rem;
        overflow: hidden;
        font-variation-settings: 'wght' 600;

        p {
            color: var(--clr-neutral-light);
            background-color: var(--clr-primary);
            height: 100%;
            padding: 0.5rem 0.75rem;
            font-size: 1.2rem;
        }

        input {
            outline: none;
            border: none;
            font-size: 1.2rem;
            background-color: var(--clr-secondary);
            color: var(--clr-neutral-light);
            padding: 0 0.75rem;
            caret-color: var(--clr-primary);
            width: clamp(200px, 60vw, 20rem);
        }

    }

    .shorten-btn {
        background-color: var(--clr-primary);
        padding: 0.5rem 1rem;
        font-variation-settings: 'wght' 700;
        font-size: 1.2rem;
        color: var(--clr-secondary);
        border-radius: 0.5em;
        border: 2px solid var(--clr-primary);
    }
}

.clear-btn {
    @include flex-center;
    background-color: transparent;
    transition: all linear 0.1s;
    margin-right: 0.5rem;

    &.show {
        opacity: 1;
        pointer-events: initial;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    svg {
        color: var(--clr-neutral-light);
        height: 1.75em;
        width: 1.75em;
    }
}

.short-url-container {
    @include flex-center;
    padding: 0 1rem;
    width: 100%;
    height: 8rem;
}

.github-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    transition: transform 0.1s;

    &:hover {
        transform: scale(1.1);
    }

    svg {
        fill: var(--clr-neutral-light);
        height: 1.5rem;
        width: 1.5rem;
    }
}