@use "../../app/config" as *;

.qr-code-container {
    @include grid-center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;


    &.show {
        background-color: rgb(0 0 0 / 0.9);
        pointer-events: all;

        .qr-code {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.hide {
        background-color: rgb(0 0 0 / 0);
        pointer-events: none;

        .qr-code {
            opacity: 0;
            transform: scale(0.3);
        }
    }

}




.qr-code {
    @include grid-center;
    background-color: var(--clr-secondary);
    border-radius: 1em;
    padding-bottom: 1em;
    width: clamp(200px, 80vw, 30rem);
    outline: var(--clr-neutral-grey) solid 1px;
    transition: all 0.2s;

    .canvas {
        border-radius: 1rem;
        width: clamp(200px, 80vw, 30rem);
        height: clamp(200px, 80vw, 30rem);
    }

    .close-btn {
        @include grid-center;
        justify-self: right;
        background-color: transparent;

        svg {

            color: var(--clr-neutral-light);
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .download-link {
        text-decoration: none;
        background-color: var(--clr-neutral-light);
        color: var(--clr-secondary);
        border-radius: 0.5em;
        padding: 0.5em 1em;
        display: flex;
        gap: 0.5em;

        svg {
            color: var(--clr-secondary);
        }
    }
}